.main-content-about {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem 2rem;
    margin: 20px;
    margin-left: 200px;
    margin-right: 10rem;
}

.section {
    max-width: 100%;
    padding: 1.5rem;
}

.spacer {
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: lightgray;
}

.about-article {
    width: full;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.about-figure {
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    width: 100%;
}

.about-caption {
    margin-top: 10px;
}

.about-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.skills-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-list li {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.about-links {
    display: contents;
    gap: 10px;
}

.links-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.about-links a {
    text-decoration: none;
    color: #007bff;
}

.highlight {
    font-size: x-large;
    font-weight: bold;
}