.main-content-projects {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem 2rem;
    margin: 20px;
    margin-left: 200px;
    margin-right: 10rem;
}

.section {
    max-width: 100%;
    padding: 1.5rem;
}

.spacer {
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: rgb(231, 231, 231);
}

.projects-article {
    width: full;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.projects-figure {
    flex: 1;
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-caption {
    margin-top: 10px;
}

.projects-caption h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    padding-left: 25px;
}

.projects-caption p {
    font-size: 1rem;
    color: #555;
    padding-left: 25px;
    text-align: left;
}

.projects-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.projects-image {
    height: 70%;
    width: 100%;
    border-radius: 12px;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.project-links a {
    text-decoration: none;
    color: black;
}